@charset "UTF-8";

body{
    background-color: rgb(108, 134, 250);
    font: normal 16pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

footer{
    font-style: italic;
    color: white;
    text-align: center;
}